* {
  padding: 0;
  margin: 0;
}

html body {
  background-color: #fafafa;
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* .card {
  cursor: pointer;
} */

.navbar {
  height: 4rem;
  color: white;
  /* background: #eb5a77; */
}

.formContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.formContainer span {
  color: red;
}

.createPost {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.addCommentContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}